body {
    background-color: rgb(222, 239, 161);
}
#logo {
    margin: auto;
    width: fit-content;
    font-size: 200px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(29, 79, 233);
}
span:first-child {
    color: rgb(252, 104, 0);
}
span:nth-child(2) {
    color: rgb(252, 150, 9);
}
span:nth-child(3) {
    color: rgb(172, 178, 233);
}
span:nth-child(4) {
    color: rgb(64, 204, 82);
}
#menu {
    width: fit-content;
    margin: auto;
}
#menu a {
    display: block;
    width: 200px;
    height: 50px;
    padding-top: 10px;
    text-align: center;
    text-decoration: none;
    border: 3px solid black;
    border-radius: 30px;
    font-size: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(252, 244, 85);
    color: rgb(144, 84, 6);
    font-weight: bold;
    margin-bottom: 20px;
    transition: 0.5s;
}
#menu a:hover {
    background-color: rgb(255, 249, 145);
}